* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
    display: flex;
  }

  aside {
    width: 350px;
    min-height: 100vh;
    border: 1px solid;
    color: #e8ebe4; 
  }

aside .maria-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    border: 1px solid;
    
}

aside .maria-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.maria-info i {
    color: #bec1bb;
}

aside .maria-profile img {
    
    width: 50px;
    border-radius: 100px;
}

 .datas {
    color: #444749;
   }

.cajon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    border: 1px solid;
   
}

section .foto {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.texto-caja {
    color: 
    #444749;
}

section .foto img {
            width: 50px;
    border-radius: 100px;
    
}

.cajas {
    padding: 12px 30px;
    border: 1px solid;
    
}

.caja-boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .boton {
   padding: 10px 35px;
   background-color: #A491D2;
   border: none;
   margin: 30px 0;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.saludo {
    width: 40%;
    text-align: center;

}
.saludo img {
    width: 70%;
}


